*, html {
    box-sizing: border-box;
}
.product-card {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: solid 5px black;
}

.product-description {
    background-color: white;
    vertical-align: middle;
    width: 45%;

}

.headphones {
    background-color: white;
    vertical-align: middle;
    width: 45%;
    }